<div id="<%= dom_id level_up_pattern %>">
  <p>
    <strong>Lineage:</strong>
    <%= level_up_pattern.lineage %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= level_up_pattern.name %>
  </p>

</div>
