<h1>Editing level up pattern</h1>

<%= render "form", level_up_pattern: @level_up_pattern %>

<br>

<div>
  <%= link_to "Show this level up pattern", @level_up_pattern %> |
  <%= link_to "Back to level up patterns", level_up_patterns_path %>
</div>
