<div id="<%= dom_id characteristic %>">
  <p>
    <strong>Name:</strong>
    <%= characteristic.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= characteristic.description %>
  </p>

</div>
