<div>
  <table>
    <tr>
      <th>Lv</th>
      <th>HP</th>
      <th>MP</th>
      <th>こうげき</th>
      <th>ぼうぎょ</th>
      <th>すばやさ</th>
      <th>かしこさ</th>
    </tr>
    <%= render(GrowthTableRowComponent.with_collection(MonsterGrowth.table_items(monster: @monster, to: 30))) %>
  </table>
</div>
