<div id="<%= dom_id monster %>">
  <p>
    <strong>Name:</strong>
    <%= monster.name %>
  </p>

  <p>
    <strong>Lineage:</strong>
    <%= monster.lineage %>
  </p>

  <p>
    <strong>Rank:</strong>
    <%= monster.rank %>
  </p>
</div>
