<div id="<%= dom_id skill_set %>">
  <p>
    <strong>Skill group:</strong>
    <%= skill_set.skill_group_id %>
  </p>

  <p>
    <strong>Skill:</strong>
    <%= skill_set.skill_id %>
  </p>

  <p>
    <strong>Point:</strong>
    <%= skill_set.point %>
  </p>

</div>
