<h1>Editing skill set</h1>

<%= render "form", skill_set: @skill_set %>

<br>

<div>
  <%= link_to "Show this skill set", @skill_set %> |
  <%= link_to "Back to skill sets", skill_sets_path %>
</div>
