<h1>Editing skill group</h1>

<%= render "form", skill_group: @skill_group %>

<br>

<div>
  <%= link_to "Show this skill group", @skill_group %> |
  <%= link_to "Back to skill groups", skill_groups_path %>
</div>
